@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.mermaid {
  height: 100vh;
}

.new-table, .new-column {
  display: block;
}

.new-column {
  width: 100%;
}

.table-form-group {
  display: flex;
}

.table-form-group-fields {
  margin: 1rem;
  border: 1px solid white;
}

.column-form-group {
  display: flex;
  /* grid-template-columns: repeat(3, 2fr); */
}